spring:
       datasource:
         url: jdbc:mysql://localhost/ygy?useAffectedRows=true
         username: root
         password: ygy123
         driver-class-name: com.mysql.jdbc.Driver
       cache:
       thymeleaf:
         cache: false
         mode: LEGACYHTML5
       redis:
         database: 0
         host: 127.0.0.1
         port: 6379
         password:
         pool:
           max-active: 8
           max-wait: -1
           max-idle: 8
           min-idle: 0
         timeout: 600000

debug: true
mybatis:
  mapper-locations: classpath:mapping/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
logging:
  level: debug
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql
security:
  oauth2:
    client:
      client-secret: acmesecret
      scope: read,write
      auto-approve-scopes: '.*'
      client-id: acme
github:
  client:
    clientId: bd1c0a783ccdd1c9b9e4
    clientSecret: 1a9030fbca47a5b2c28e92f19050bb77824b5ad1
    accessTokenUri: https://github.com/login/oauth/access_token
    userAuthorizationUri: https://github.com/login/oauth/authorize
    clientAuthenticationScheme: form
  resource:
    userInfoUri: https://api.github.com/user



