<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/images/js/markdown.js"></script>
    <script type="text/javascript">

    </script>

</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span>
                        <span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">博客</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/" class="glyphicon glyphicon-home">Home</a>
                        </li>
                        <li>
                            <a href="/essay/bypage" class="glyphicon glyphicon-book">Blog</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">type<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="cate?cateName=java">java</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-left"  role="search" action="/essay/dim" method="get" >
                        <div class="form-group">
                            <input type="text"  class="form-control" name="title"/>
                        </div>
                        <button class="btn btn-default">submit</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">关于我</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1 th:text="${essay.title}"></h1>
                <p id="preview"></p>
            </div>
        </div>
    </div>
</div>
<div style="display: none" class="jumbotron">
    <textarea th:text="${essay.text}" id="text-input" oninput="this.editor.update()" rows="30" cols="80"></textarea>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <div class="text-center article-title" id="denglu">
                    登录后你可以发表评论，请先登录
                    <a id="modal-115855" href="#modal-container-115854" role="button" class="btn" data-toggle="modal">登录>></a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-container-115854" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <br/>
                            <div class="tabbable" id="tabs-964343">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#panel-736797" data-toggle="tab">登录</a>
                                    </li>
                                    <li>
                                        <a href="#panel-628937" data-toggle="tab">注册</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="panel-736797">
                                        <div class="text-center article-title">
                                            <h1>登录</h1>
                                        </div>
                                        <!--登录-->
                                        <form th:action="@{/admin/login}" th:object="${User}" th:method="post">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label font" for="phone">手机号</label>
                                                <div class="col-xs-10">
                                                    <input type="text" th:field="*{userid}" class="form-control bt" id="phone1" placeholder="请输入手机号"/>
                                                </div>

                                            </div>
                                            <br/><br/><br/>

                                            <div class="form-group">

                                                <label class="col-sm-2 control-label font">密码</label>
                                                <div class="col-xs-10">
                                                    <input  th:field="*{password}" type="password" class="form-control bt" name="pwd" id="pwd2"
                                                            placeholder="请输入密码">
                                                </div>
                                            </div>
                                            <br/><br/>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block xg">登录</button>
                                        </form>


                                    </div>
                                    <div class="tab-pane" id="panel-628937">
                                        <div class="text-center article-title">
                                            <h1>注册</h1>
                                        </div>
                                        <form th:action="@{/login/adus}" th:object="${User}" th:method="post">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label font" for="phone">手机号</label>
                                                <div class="col-xs-10">
                                                    <input type="text" th:field="*{userid}" class="form-control bt" id="phone" placeholder="请输入手机号"
                                                           onkeyup="checkPhone()"><span id="tishi1"/>
                                                </div>
                                            </div>
                                            <br/><br/><br/>
                                            <div class="form-group">

                                                <label class="col-sm-2 control-label font">密码</label>
                                                <div class="col-xs-10">
                                                    <input  th:field="*{password}" type="password" class="form-control bt" name="pwd" id="pwd"
                                                            placeholder="请设置密码">
                                                </div>
                                            </div>
                                            <br/><br/><br/>

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label font">确认密码</label>
                                                <div class="col-xs-10">
                                                    <input type="password" class="form-control bt" name="pwd" id="pwd1"
                                                           placeholder="请再次填写密码" onkeyup="validate()"><span id="tishi"></span>
                                                </div>
                                            </div>
                                            <br/><br/>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block xg">确认</button>
                                        </form>
                                    </div>
                                    <br>
                                    <div>
                                        <p>第三方账号登陆：</p>
                                       <a href="/login/github"><img th:src="@{~/images/git.jpg}" class="img-circle" style="width: 58px;height: 65px;"></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function Editor(input, preview) {
        this.update = function () {
            preview.innerHTML = markdown.toHTML(input.value);
        };
        input.editor = this;
        this.update();
    }
    var  j= function (id) { return document.getElementById(id); };
    new Editor(j("text-input"), j("preview"));

    function validate() {
        var pwd = $("#pwd").val();
        var pwd1 = $("#pwd1").val();
        <!-- 对比两次输入的密码 -->
        if(pwd == pwd1)
        {
            $("#tishi").html("两次密码相同");
            $("#tishi").css("color","green");
            $("button").removeAttr("disabled");
        }
        else {
            $("#tishi").html("两次密码不相同");
            $("#tishi").css("color","red");
            $("button").attr("disabled","disabled");
        }
    }
    function checkPhone(){
        var phone = document.getElementById('phone').value;
        if(!(/^1[34578]\d{9}$/.test(phone))){
            $("#tishi1").html("手机号码有误，请重填");
            $("#tishi1").css("color","red");
            return false;
        }else {
            $("#tishi1").html("手机号码正确");
            $("#tishi1").css("color","green");
        }
    }
    function btn() {
        if (){
            denglu.style.display='none';
        }else {
            denglu.style.display='';
        }
    }

</script>
</body>
</html>